## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,3,Hilo,US,73.62,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,6,Thompson,CA,60.96,broken clouds,55.7435,-97.8558,Burntwood Hotel
2,7,Rikitea,PF,73.40,overcast clouds,-23.1203,-134.9692,People ThankYou
3,11,Cidreira,BR,67.95,overcast clouds,-30.1811,-50.2056,Hotel Castelo
4,13,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [36]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Beckley']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Beckley']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Zanesville']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Connersville'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Hamilton'] 
vacation_stop1

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
61,274,Zanesville,US,72.46,overcast clouds,39.9404,-82.0132,"Holiday Inn Express & Suites Zanesville North,..."

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
stop1

array([39.9404, -82.0132], dtype=object)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(39, -82), zoom_level = 7)
Beckley = start
Zanesville = stop1
Connersville = stop2
Hamilton = stop3 
roadtrip = gmaps.directions_layer(Beckley, Beckley, 
                                  waypoints=[Zanesville, Connersville, Hamilton],
                                  travel_mode="DRIVING")
fig.add_layer(roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,523,Beckley,US,73.83,overcast clouds,37.7782,-81.1882,"Country Inn & Suites by Radisson, Beckley, WV"
1,274,Zanesville,US,72.46,overcast clouds,39.9404,-82.0132,"Holiday Inn Express & Suites Zanesville North,..."
2,105,Connersville,US,73.51,overcast clouds,39.6412,-85.1411,The Lodge at IOI
3,180,Hamilton,US,72.25,light rain,39.1834,-84.5333,Six Acres Bed & Breakfast

In [51]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(39.0, -82.0), zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))